body{
    text-align: center;
    margin-top: 25px;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
    margin: 10px;
}
img{
    height: 350px;
    border: none;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-weight: bold;
    justify-items: center;
}